.app {
  text-align: center;
  background-image: url('modern-world-map.jpg');
  background-repeat: no-repeat, repeat;
  background-size:cover;
  background-color: rgb(247, 247, 247);
}
.mapAndTable{
  display: grid;
  height: 1100px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
      "m m m m"
      "T T T T"
      "T T T T"
      "T T T T"
      "t t t t"
      "t t t t"
      ;
}

/* 1. HEADER STYLE */
header{
  grid-area: h;
  padding: 30px 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(48, 48, 119);
  text-shadow: 2px 2px 4px #000000;
}
h1{
 margin-top: -1%;
}
.locationImg {
  width: 7%;
  top: 30px;
  text-shadow: 2px 2px 4px #000000;
}

/* 2. MAP STYLE */
.mapBox{
  grid-area: m;
  height: 50%;
  margin-left: 5%;
}
.mapBox > div >div{
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
  opacity: 0.9;
  /* position: relative !important; */
}

/* 3. TABLE STYLE */
.tabel{
  grid-area: t;
  width: 90%;
  margin-left: 5%;
  margin-top: -130px;
  height: 25%;
  opacity: 0.7;
}
.tabel2{
  grid-area: T;
  width: 90%;
  margin-left: 5%;
  opacity: 0.7;
  height: 25%;
  margin-top: 150px;
}
.tabel2 div{
  border-radius: 20px;
}
.tabel div{
  border-radius: 20px;
}